// Police d'écriture importé depuis google fonts : Montserrat Regular 400 & Medium 500
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

//scss bootstrap pour les différents coloris proposés sur cette page: https://getbootstrap.com/docs/5.1/customize/color/

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Sources:
// - GoogleFonts
// - https://cssgradient.io/ pour les dégradés
// - freepng.fr pour les images avec fond transparent
// - https://cssgenerator.org/box-shadow-css-generator.html Pour générer des ombres

body{
    margin: 0;
    background: rgb(31,31,31);
    background: linear-gradient(180deg, rgba(31,31,31,1) 0%, $blue-700 100%);
    scroll-behavior: smooth;
}

a, p{font-family: 'Montserrat', Regular;}
h1, h2, h3{font-family: 'Montserrat', Medium;}
a{text-decoration: none;}

//Css mobile-first

//navbar
@media (min-width: 800px) {
    .mobile-navbar{display: none;}
}

//Fin-Navba

//main-index
.img-index1{display: flex; margin:40px auto;}
.img-index2{display: flex; margin:auto;}

.second-title{display: block; text-align: start; width:80%; margin: auto; color: white;}

.first-container, .second-container, .third-container, .fourth-container{
    display: block;
    width: 80%;
    margin: 80px auto;
} .first-container > h1 {text-align: start; color: white;}
.third-container > h1 {text-align: start; color: white;}

.box-second-container, .box-fourth-container{
    padding: 15px;
    border-radius: 3%;

    background: rgba(224, 230, 255, 0.925);
    box-shadow: inset 9.96667px -9.96667px 9.96667px rgba(0, 0, 0, 0), inset -9.96667px 9.96667px 9.96667px rgba(98, 99, 160, 0.329);
    backdrop-filter: blur(39.2687px);
} .box-second-container > h3, .box-second-container > p, .box-fourth-container > h3, .box-fourth-container > p{color: $blue-700;}
//Fin-main-index

//footer-mobile

.sticky-bottom{display: block; background-color: $gray-900; padding: 15px;}
.sticky-bottom p, .sticky-bottom h4{color: white; font-size: 15px;}

.social{
    display: flex;
    margin: 10px auto;
}
.social button{color: black; transition: 0.3s ;}
.social img{margin:0 10px 0 10px; width: 20px;}
.social button:hover{width: 10rem;}
//Fin-Footer-mobile

//Fin-Css Mobile-first



//Css Ecran large

//page index
@media (max-width: 800px) {
    .large-navbar{display: none; transition: 0.5s ease-in-out;}
}

@media (min-width: 900px) {
    .first-container, .second-container, .third-container, .fourth-container, .second-title{
        display: flex;
        width: 70%;
        margin: 80px auto;
    }

    .box-third-container > img {display: block; width: 250px; margin:auto;}

    .first-container > h1 {margin: 90px auto; width: 500px; text-align: start; color: white;}

    .third-container > h1 {margin: 90px auto; width: 500px; text-align: start; color: white;}

    .box1-4{width: 650px;}

    .img-index2{display: block; margin:auto;}

    p{font-size: 25px;}

    .btn-nav{color: white; background: $blue-700; font-size: 20px;}

    .sticky-bottom{display: flex;}

    .box-footer{width:350px; margin: 10px auto;}
}

@media (min-width: 1200px) {
    #nav-large-bar{width: 70%; margin: auto;}
}
@media (max-width: 900px){.btn-nav{color: white; background: $blue-700; font-size: 16px;}}
.btn-nav:hover{color: $orange-200;}
//fin de page index

//page événements

//Premier événement
.first-event-container{
    display: block;
    width: 90%;
    margin:20px auto;

    padding:10px;

    //shadow
    box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.37);
    -webkit-box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.37);
}

.first-event-description{
    text-align: start;
    color:white;
    margin-top: 20px;
}

.map-first-event{height: 280px; border-radius: 3%;}
.first-event-map-container{
    display: block;
    margin:auto;
} .first-event-map-container p{color:white; margin-top:20px;}

//Ecran Large
@media (min-width: 800px) {
    .first-event-container{
        display: flex;
        width: 750px;
        margin:20px auto;
    }

    .map-first-event{width: 450px; height: 280px; border-radius: 3%;}
    .first-event-description{width: 240px; margin: 20px auto;}
}

@media (min-width: 1200px) {
    .first-event-container{
        display: flex;
        width: 70%;
        margin:20px auto;
    }

    .map-first-event{width: 450px; height: 280px; border-radius: 3%;}
    .first-event-description{width: 400px; margin: 20px auto;}

    .first-event-map-container{margin: auto auto auto 20px;}
}

//Fin Premier événement

//Deuxième événement
.second-event-container{
    display: block;
    width: 90%;
    margin:20px auto;

    padding:10px;

    //shadow
    box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.37);
    -webkit-box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.37);
}

.second-event-description{
    text-align: start;
    color:white;
    margin-top: 20px;
}

.map-second-event{height: 280px; border-radius: 3%;}
.second-event-map-container{
    display: block;
    margin:auto;
} .second-event-map-container p{color:white; margin-top:20px;}

//Ecran Large
@media (min-width: 800px) {
    .second-event-container{
        display: flex;
        width: 750px;
        margin:20px auto;
    }

    .map-second-event{width: 450px; height: 280px; border-radius: 3%;}
    .second-event-description{width: 240px; margin: 20px auto;}
}

@media (min-width: 1200px) {
    .second-event-container{
        display: flex;
        width: 70%;
        margin:20px auto;
    }

    .map-second-event{width: 450px; height: 280px; border-radius: 3%;}
    .second-event-description{width: 400px; margin: 20px auto;}

    .second-event-map-container{margin: auto auto auto 20px;}
}

//Fin Deuxième événement

//fin page événements